<div class="jumbotron text-center">
  <h1 class="animated slideInDown">New project</h1>
</div>
<div class="container">
  <h2></h2>
  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
      </div>
      <div class="col-sm-10 text-left col-lg-10">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="progress">
              <div class="progress-bar progress-bar-striped customProgress" role="progressbar" aria-valuenow="70"
                   aria-valuemin="0"
                   aria-valuemax="100"
                   style="width:70%">
                <span class="sr-only">10% Complete</span>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <!--Projects Form-->
            <form #createProjectForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-3">
                    <label>Project title *</label></div>
                  <div class="col-sm-9">
                    <input type="text" placeholder="Please enter title" [(ngModel)]="project.title" name="title"
                           #title="ngModel" class="form-control" required minlength="4" maxlength="24">
                    <!--Angular Form Validations-->
                    <div *ngIf="title.errors && (title.dirty || title.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!title.errors.required">
                        Title is required
                      </div>
                      <div [hidden]="!title.errors.minlength">
                        Title must be at least 4 characters long.
                      </div>
                      <div [hidden]="!title.errors.maxlength">
                        Title cannot be more than 24 characters long.
                      </div>
                    </div>
                    <!--End Angular Form Validations-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="dropdown">
                    <div class="col-sm-3">
                      <br>
                      <label>Project type *</label>
                    </div>
                    <br>
                    <div class="col-sm-9">
                      <button class="btn btn-primary dropdown-toggle" value="Please select" type="button"
                              data-toggle="dropdown">
                        <span class="caret"></span></button>
                      <ul class="dropdown-menu" required="true">
                        <li *ngFor="let projectType of projectTypes"><a
                          (click)="dropdownselectedProjectType(projectType)"></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3">
                  <label>Required level *</label></div>
                <div class="col-sm-9">
                  <div *ngFor="let educationLevel of educationLevels">
                    <input type="checkbox" name="educationLevel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="dropdown">
                  <div class="col-sm-3">
                    <br>
                    <label>Faculty *</label></div>
                  <br>
                  <div class="col-sm-9">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

                      <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li *ngFor="let faculty of faculties"><a
                        (click)="dropdownselectedFaculty(faculty)"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="dropdown">
                  <div class="col-sm-3">
                    <br>
                    <label>Chair *</label></div>
                  <br>
                  <div class="col-sm-9">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

                      <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li *ngFor="let chair of chairs"><a (click)="dropdownselectedChair(chair)"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3">
                  <label>Language *</label>
                </div>
                <div class="col-sm-9">
                  <div *ngFor="let language of languages">
                    <input type="checkbox" name="language">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <br>
                  <label>Company partner</label></div>
                <div class="col-sm-9">
                  <div class="checkbox">
                    <label><input type="checkbox" name="company">Yes</label>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Company
                      <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <!--Mocked data-->
                      <li><a>Siemens</a></li>
                      <li><a>BMW</a></li>
                      <li><a>IBM</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-3">
                  <br>
                  <label>Description</label></div>
                <div class="col-sm-9">
                  <div class="form-group">
                <textarea class="form-control" rows="5" id="description" [(ngModel)]="project.description"
                          name="description" #description="ngModel" required minlength="10"></textarea>
                    <!--Angular Form Validations-->
                    <div *ngIf="description.errors && (description.dirty || description.touched)"
                         class="alert alert-danger">
                      <div [hidden]="!description.errors.required">
                        Description is required
                      </div>
                      <div [hidden]="!description.errors.minlength">
                        Description must be at least 10 characters long.
                      </div>
                    </div>
                    <!--End Angular Form Validations-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-3">
                    <label>Advisor</label></div>
                  <div class="col-sm-9"><input type="text" placeholder="The user's name" [(ngModel)]="project.advisor"
                                               name="advisor" class="form-control">
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="form-group">
                  <div class="col-sm-3">
                    <label>Supervisor</label></div>
                  <!--  <div class="col-sm-9"><input type="text" placeholder="Please enter name" [(ngModel)]="project.supervisor"
                                                 name="supervisor" class="form-control">
                    </div> -->
                  <div class="col-sm-9">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">

                      <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li *ngFor="let academic of academics"><a (click)="dropdownselectedAcademic(academic)">
                      </a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                  <button type="submit" [disabled]="!createProjectForm.form.valid" class="btn btn-warning">Create
                  </button>
                  <button type="button" (click)="cancel()" class="btn btn-warning ">Cancel</button>
                </div>
              </div>
              <br>
            </form>
            <!--End Projects Form-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
