/**
 * created by MarlaN. 18.06.2017
 */
.progress-bar {
  background-color: #86BCFF;
}

.dropdown-toggle {
  background-color: #86BCFF;
}

h2 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.jumbotron{
  background-image: url("/app/bootstrap/jumbo-create.jpg");
  background-size:auto!important;
  background-position: bottom;
}
h1{
  color: #fff;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 40px;
}

.huge {
  font-size: 40px;
}

.customProgress {
  background-color: #c4cacf;
}

.panel-heading{
  height: 40px;
}

.dropdown-toggle,.dropdown-toggle:active{
  background-color: #c4cacf !important;
  border-color: #c4cacf !important;
  background: #c4cacf !important;

}

.panel-default{
  width: 980px;
}

.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  background-color: #fdcc52;
  border-color: #fdcc52;
}
.btn-form {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}
.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #D3D3D3;
}

.skillsButton{
  margin: 5px;
  background-color: #fdcc52;
  border-color: #fdcc52;
  border-radius: 300px;
  color: white;
  border-color: white;
  border: 1px solid;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 11px;
  letter-spacing: 2px;
}
