<div class="col-md-6 col-md-offset-3 text-center">
  <br>
  <h2>Who are you?</h2>
  <div class="col-md-4">
    <h3>Student</h3>
    <img src="../../../images/student.png" style="width:200px">
    <a [routerLink]="['/register/student']" class="btn btn-primary">Proceed</a>
  </div>
  <div class="col-md-4">
    <h3>Academic</h3>
    <img src="../../../images/academic.png" style="width:200px">
    <a [routerLink]="['/register/academic']" class="btn btn-primary">Proceed</a>
  </div>
  <div class="col-md-4">
    <h3>Company Representative</h3>
    <img src="../../../images/company.png" style="width:200px">
    <a [routerLink]="['/register/company']" class="btn btn-primary">Proceed</a>
  </div>
  <div class="col-md-6 col-md-offset-3" style="padding: 15px;"><a [routerLink]="['/login']" class="btn btn-link">Cancel Registration</a></div>
</div>

