
<div class="container">
  <div class="col-sm-4 sidenav">
  </div>
    <div class="col-sm-8 text-left">
      <br><br> <h2 style="color:#0fad00">Changes are Processed... </h2>
      <img src="https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/check-square-green-128.png">
      <h3></h3>
      <!--TODO fix -->
      <p style="font-size:20px;color:#5C5C5C;">In case of now changes, your previous rating is not affected!</p>
      <button type="button" class="btn btn-default" [routerLink]="['/internals/dashboard']"
              routerLinkActive="active">Rating Dashboard
      </button>
      <br><br>
    </div>
</div>
