<div class="col-sm-2 sidenav">
</div>
<div class="col-sm-8 text-left"><br>
<h2>Topics</h2>
<div class="panel-group">
  <div class="panel panel-primary" *ngFor="let research of researches" (click)="onSelect(research)"
       [class.selected]="research === selectedResearch">


    <div class="panel-heading"> Research Topic: {{research.ResearchTopic}} </div>
    <div class="panel-body">Faculty: {{research.Faculty}}

      <div class="pull-right">
        <button type="button" class="btn btn-default pull-right heading-button" data-toggle="collapse"
                [attr.data-target]="'#' + research.id">See More..
        </button>
        <button type="button" class="btn btn-default pull-right heading-button" [routerLink]="['/rating', research.id]"
                routerLinkActive="active">Rating
        </button>
      </div>
      </div>
      <div class="clearfix"></div>

    <div id="{{research.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        Needed Skills: {{research.NeededSkills}} <br>
        Rated by: {{research.RatedBy}} <br>
        Description: {{research.Description}}
      </div>

    </div>
  </div>
</div>
</div>

