.progress-bar {
  background-color: #86BCFF;
}

.dropdown-toggle {
  background-color: #86BCFF;
}

h2 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.jumbotron{
  background-image: url("/app/bootstrap/jumbo-backup.jpg");
  background-size:auto!important;
  background-position: center;
}
h1{
  color: #000;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 40px;
}

.huge {
  font-size: 40px;
}

.customPanel{
  width: 980px;
}

.customButton{
  width: 30px;
  height: 30px;
}

.skillsButton{
  margin: 5px;
  background-color: #D3D3D3;
  color: white;
  border-color: white;
  border: 1px solid;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 11px;
  letter-spacing: 2px;
}

span.glyphicon {
  font-size: 15px;
}

a.glyphicon {
  font-size: 20px;
  padding-right: 10px;
}
.customBody{

}
