.progress-bar {
  background-color: #86BCFF;
}

.dropdown-toggle {
  background-color: #86BCFF;
}

h2 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.jumbotron{
  background-image: url("/app/bootstrap/jumbo-backup.jpg");
  background-size:auto!important;
  background-position: center;
}
h1{
  color: #000;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 40px;
}

.huge {
  font-size: 40px;
}

.customPanel{
  width: 980px;
}

.customButton{
  width: 30px;
  height: 30px;
}

.customBody{

}
