<div class="jumbotron text-center">
  <h1 class="animated slideInDown">Your Ratings</h1>
</div>
<div class="container">
<div class="col-sm-2 sidenav">
</div>
<div class="col-sm-10 text-left"><br>

  <div class="container">
  <h2 >Welcome to Rating
  </h2>
  <fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
  </fieldset>
  <br>
  <br>
  <br>
  </div>
<div class="panel-group">
  <div class="panel panel-primary" *ngFor="let project of projects" (click)="onSelect(project)"
       [class.selected]="project === selectedResearch">
    <div class="panel-heading customPanel"> Project Topic: {{project.title}} </div>
    <div class="panel-body">Faculty: {{project._chair.name}}
      <div class="pull-right">
        <button type="button" class="btn btn-default pull-right heading-button" data-toggle="collapse"
                [attr.data-target]="'#' + project._id">See More...
        </button>
        <button type="button" class="btn btn-default pull-right heading-button" [routerLink]="['/internals/rating', project._id]"
                routerLinkActive="active">Rate
        </button>
      </div>
      </div>
      <div class="clearfix"></div>
    <div id="{{project._id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <div  *ngFor="let rating of project.ratings">
        Representative: {{rating.Representative}}<br>
        Needed Skills: {{rating.InterestFields}} <br>
        Description: {{rating.Description}}<br>

          <br>
       <!--   Rated by: {{project._partner.name}} <br> -->
        </div>
      </div>
  </div>
    </div>
  </div>
</div>
</div>
