
<div class="container">
  <div class="col-sm-4 sidenav">
  </div>
  <div class="col-sm-8 text-left">
    <br><br> <h2 style="color:#0fad00">Failure</h2>
    <img style="width:200px;" src="./app/bootstrap/failure.png"><br>
    <h3>Something is wrong! </h3>
    <!--TODO fix -->
    <p style="font-size:20px;color:#5C5C5C;">Unfortunately, some problem happend. Try again!</p>
    <button type="button" class="btn btn-default" [routerLink]="['/internals/editprofile']"
            routerLinkActive="active">Back to my profile
    </button>
    <br>
  </div>
</div>
