<div class="col-sm-2 sidenav">
</div>
<div class="col-sm-8 text-left"><br>
  <h2>Dashboard</h2>
  <div class="col-lg-6">
    <div class="card card-default">

  <div class="card-block">
    <div class="list-group">
      <a href="#" class="list-group-item clearfix d-block">
        <i class="fa fa-comment fa-fw"></i> New Email
        <span class="float-right text-muted small"><em>4 minutes ago</em></span>
      </a>
      <a href="#" class="list-group-item clearfix d-block">
        <i class="fa fa-twitter fa-fw"></i> 3 New Applications
        <span class="float-right text-muted small"><em>12 minutes ago</em></span>
      </a>
      <a href="#" class="list-group-item clearfix d-block">
        <i class="fa fa-envelope fa-fw"></i> Message Sent
        <span class="float-right text-muted small"><em>27 minutes ago</em></span>
      </a>
      <a href="#" class="list-group-item clearfix d-block">
        <i class="fa fa-tasks fa-fw"></i> New Task
        <span class="float-right text-muted small"><em>43 minutes ago</em></span>
      </a>
      <a href="#" class="list-group-item clearfix d-block">
        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
        <span class="float-right text-muted small"><em>9:49 AM</em></span>
      </a>
      <a href="#" class="list-group-item clearfix d-block">
        <i class="fa fa-money fa-fw"></i> Payment Received
        <span class="float-right text-muted small"><em>Yesterday</em></span>
      </a>
    </div>
    <!-- /.list-group -->
    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
  </div>
    </div></div>
</div>
