
		<!-- Header -->
			<header id="header">
				<h1 style="font-size:14pt;"><a href="view-landing.component.html">ResearchHub</a></h1>
				<nav id="nav">
					<ul>
						<li><a routerLink="/login" [routerLinkActive]="['router-link-active']" class="button">Sign In</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section class="text-center" id="banner" style="width:100%">
				<img src="../../../images/logo.png" style="max-width:100%;" alt="ResearchHub" />
				<p style="font-size: 20pt;">Your way to science</p>
				<ul class="actions">
					<li>
						<a routerLink="/internals" class="button big" style="width:175px;">Take me there!</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special" style="background-color: #fff !important;width:100%;">
				<div class="container">
					<header class="major">
						<h2 style="color: #50A1ED !important;">You can</h2>
					</header>
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<section>
								<img src="../../../images/Pic1.png" style="height: 200px;" alt="" />
								<h3 style="color: #50A1ED !important;">Find your thesis or IDP easily</h3>
								<p>If you are a student</p>
							</section>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<section>
								<img src="../../../images/Pic2.png" style="height: 200px;" alt="" />
								<h3 style="color: #50A1ED !important;">Let students know about research at your chair</h3>
								<p>If you are teaching staff</p>
							</section>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<section>
								<img src="../../../images/Pic3.png" style="height: 200px;" alt="" />
								<h3 style="color: #50A1ED !important;">Look for the best to hire at your company</h3>
								<p>If you are a company representative</p>
							</section>
						</div>
					</div>
					<footer>
						<h3>ResearchHub is sharing and matching platform which supports students in finding suitable research projects
							based on their preferences, experience and interest, teaching staff in promoting their reasearch among students
							and companies in hiring the ones that are fitting needs of businesses the best way</h3>
						<ul class="actions">
							<li>
								<a href="#" class="button big" style="width:250px;">Want to know more?</a>
							</li>
						</ul>
					</footer>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special" style="width:100%;">
				<div class="container">
					<header class="major">
						<h2 style="color: #50A1ED !important;">We are here for you</h2>
					</header>
					<section class="profiles text-center">
						<div class="row">
							<section class="col-lg-3 col-md-3 col-sm-6 col-xs-6 profile">
								<img src="../../../images/Picture1.png" style="width: 92px;" alt="" />
								<h4>Moawiah Assali</h4>
								<p>moaw@rhub.com</p>
							</section>
							<section class="col-lg-3 col-md-3 col-sm-6 col-xs-6 profile">
								<img src="../../../images/Picture2.png" style="width: 92px;" alt="" />
								<h4>Marla Narazani</h4>
								<p>marla@rhub.com</p>
							</section>
							<section class="col-lg-3 col-md-3 col-sm-6 col-xs-6 profile">
								<img src="../../../images/Picture3.png" style="width: 92px;" alt="" />
								<h4>Evgenij Dauenhauer</h4>
								<p>evg@rhub.com</p>
							</section>
							<section class="col-lg-3 col-md-3 col-sm-6 col-xs-6 profile">
								<img src="../../../images/Picture4.png" style="width: 92px;" alt="" />
								<h4>Vagram Airiian</h4>
								<p>vag@rhub.com</p>
							</section>
						</div>
					</section>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special" style="background-color: #55a7f3 !important;width:100%;">
				<div class="container">
					<header class="major">
						<h2>Contact us</h2>
						<p>Have something to tell? Then fill in the form</p>
					</header>
				</div>
				<div class="container 50% text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<form action="#" method="post">
						<div class="row">
							<div class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-5 col-xs-offset-1">
								<input name="name" id="name" value="" placeholder="Name" type="text">
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
								<input name="email" id="email" value="" placeholder="Email" type="email">
							</div>
            </div>
            <div class="row" style="margin-top: 2em;">
							<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
								<textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
							</div>
            </div>
            <div class="row" style="margin-top: 2em;">
							<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
								<ul class="actions">
									<li><input value="Send Message" class="special big" type="submit"></li>
								</ul>
							</div>
						</div>
					</form>
          </div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="container">
					<section class="links">
						<div class="row">
							<section class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<h3>Lorem ipsum dolor</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Nesciunt itaque, alias possimus</a></li>
									<li><a href="#">Optio rerum beatae autem</a></li>
									<li><a href="#">Nostrum nemo dolorum facilis</a></li>
									<li><a href="#">Quo fugit dolor totam</a></li>
								</ul>
							</section>
							<section class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<h3>Culpa quia, nesciunt</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Reiciendis dicta laboriosam enim</a></li>
									<li><a href="#">Corporis, non aut rerum</a></li>
									<li><a href="#">Laboriosam nulla voluptas, harum</a></li>
									<li><a href="#">Facere eligendi, inventore dolor</a></li>
								</ul>
							</section>
							<section class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<h3>Neque, dolore, facere</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Distinctio, inventore quidem nesciunt</a></li>
									<li><a href="#">Explicabo inventore itaque autem</a></li>
									<li><a href="#">Aperiam harum, sint quibusdam</a></li>
									<li><a href="#">Labore excepturi assumenda</a></li>
								</ul>
							</section>
							<section class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<h3>Illum, tempori, saepe</h3>
								<ul class="unstyled">
									<li><a href="#">Lorem ipsum dolor sit</a></li>
									<li><a href="#">Recusandae, culpa necessita nam</a></li>
									<li><a href="#">Cupiditate, debitis adipisci blandi</a></li>
									<li><a href="#">Tempore nam, enim quia</a></li>
									<li><a href="#">Explicabo molestiae dolor labore</a></li>
								</ul>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<ul class="text-center">
								<li>&copy; ResearcHub. 2017. All rights reserved.</li>
							</ul>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-centered text-center">
							<ul class="icons">
								<li>
									<a class="icon rounded fa-facebook" style="margin-left: 1em;"><span class="label">Facebook</span></a>
								</li>
								<li>
									<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
								</li>
								<li>
									<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
								</li>
								<li>
									<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
