/*#86BCFF*/
.navbar {
  margin-bottom: 0;
  min-height:45px !important;
  background-color: #FFF;
  z-index: 9999;
  border: 0;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  border-bottom: 2px solid #55a7f3;
}

.navbar-brand {
    color: #50a1ed !important;
}

#logo {
  height: 50px;
}

.navbuttons {
  color: #FFF !important;
  display: block;
  height: 50px;
  background-color: #55a7f3;
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid transparent;
  border-color: #50a1ed;
  border-radius: 5px;
}

.navbar-nav>li>a:hover {
  color: #50a1ed !important;
  background-color: #FFF;
}

/*.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
} */
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.searchinput{
  color: #50a1ed !important;
  padding: 10px;
  font-size: 16pt;
  border: 2px solid transparent;
  border-color: #50a1ed;
  border-radius:5px;
}

.searchinput:focus {
    outline-width: 0;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #555555;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding-top: 150px;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar1 {
  background: #55a7f3;
  /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Safari 5.1 to 6.0 */
 // background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Opera 11.1 to 12.0 */
 // background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
  /* For Firefox 3.6 to 15 */
//  background: linear-gradient(#000, #86BCFF, #ECF4FF);
  /* Standard syntax */
  padding: 0px;
  min-height: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 50px;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #50a1ed;
  background: #FFF;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}



@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}