h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
  word-spacing: 1100px
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 3cm;
}
input {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
  word-spacing: 1100p;

}
label{
  margin-left: 33em;
}

.navbar {
  margin-bottom: 0;
  background-color: #86BCFF;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
