/**
 * created by MarlaN. 18.06.2017
 */
.heading-button {
  margin-left: 5px;
  margin-right: 5px;
}

h2 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.panel-heading {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.panel-body {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.jumbotron{
  background-image: url("/app/bootstrap/jumbo-backup.jpg");
  background-size:auto!important;
  background-position: bottom;
}
h1{
  color: #fff;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 40px;
}

.customPanel {
  background-color: #c4cacf;
}

.panel{
  border-color: #c4cacf ;
}

.panel-group{
  width: 980px;
}

.customButton{
 background-color: #ff817b;
  border-color: #ff817b;
}

.customButton1{
  background-color: #a0e7a0;
  border-color: #a0e7a0;
}

.btn-toolbar {
  height: 30px;
  width: 200px;
}

.modal {
  top: 100px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
