
<div class="container">
  <div class="col-sm-12 text-center">
    <br><br> <h2 style="color:#f84545">Failure</h2>
    <img style="width:200px;" src="./app/bootstrap/failure.png"><br>
    <h3>Something went wrong! </h3>
    <!--TODO fix -->
    <p style="font-size:20px;color:#5C5C5C;">Unfortunately, some problem happend. Try again!</p>
    <button type="button" class="btn btn-default" [routerLink]="['/register']"
            routerLinkActive="active">Back to my registration
    </button>
    <br>
  </div>
</div>
