.jumbotron{
  background-image: url("/app/bootstrap/jumbo.jpg");
  background-size:auto!important;
  background-position: center;
}
h1{
  color: #fff;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 40px;
}

.huge {
  font-size: 40px;
}

