<div class="jumbotron text-center">
  <h1 class="animated slideInDown">Dashboard</h1>
</div>
<div class="container">
  <div class="col-sm-2 sidenav">
  </div>
  <div class="col-sm-10 text-left"><br>
    <div class="col-lg-6">
      <div class="card card-default">

        <div class="card-block">
          <div class="list-group">
            <a href="#" class="list-group-item clearfix d-block">
              <i class="fa fa-comment fa-fw"></i> New Email
              <span class="float-right text-muted small"><em>4 minutes ago</em></span>
            </a>
            <a href="#" class="list-group-item clearfix d-block">
              <i class="fa fa-twitter fa-fw"></i> 3 New Applications
              <span class="float-right text-muted small"><em>12 minutes ago</em></span>
            </a>
            <a href="#" class="list-group-item clearfix d-block">
              <i class="fa fa-envelope fa-fw"></i> Message Sent
              <span class="float-right text-muted small"><em>27 minutes ago</em></span>
            </a>
            <a href="#" class="list-group-item clearfix d-block">
              <i class="fa fa-tasks fa-fw"></i> New Task
              <span class="float-right text-muted small"><em>43 minutes ago</em></span>
            </a>
            <a href="#" class="list-group-item clearfix d-block">
              <i class="fa fa-shopping-cart fa-fw"></i> New Call set
              <span class="float-right text-muted small"><em>9:49 AM</em></span>
            </a>
            <a href="#" class="list-group-item clearfix d-block">
              <i class="fa fa-money fa-fw"></i> Application Received
              <span class="float-right text-muted small"><em>Yesterday</em></span>
            </a>
          </div>
          <!-- /.list-group -->
          <a href="#" class="btn btn-default btn-block">View All Notifications</a>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-file-text-o fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">5</div>
                <div>New Applications</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-comments fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">3</div>
                <div>Messages</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-magic fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">2</div>
                <div>New Ratings</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">0</div>
                <div>New Requests</div>
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">View Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <br>

      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            My personal projects
          </div>
          <!-- .panel-heading -->
          <div class="panel-body">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Are you an Academic?</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                    Are you a representative of a Faculty or a member of an Institute who has many projects ? You can use this portal for:
                    <br> 1- Posting new Projects that meet your expectations.
                    <br>2- Search for already posted projects (in norder maybe to take part or to merge teams).
                    <br>3- Check the trend in market by viewing what projects are being rated.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Are you Company Representative?</a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                    Are you a representative of a Corporation or a member of a Technical Team who has many projects ? You can use this portal for:
                    <br>1- Showing your interest in some projects by rating them and specifying why are you interested.
                    <br>2- Look for new gradutes with specific skills --> you can rate some projects so graduates know about you.
                    <br>3- Keep yourself on track with the academic sector and its needs.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Are you a Student?</a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                    Are you a Student who is looking for a Thesis/Project/IDP ? You can use this portal for:
                    <br>1- Search for projets that meets your expectations.
                    <br>2- Build a long term vision by viewing how each project in being rated.
                    <br>3- Get some help to choose your track based on the knowledge you get from Academic and Industry Sectors.                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .panel-body -->
        </div>
        <!-- /.panel -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
</div>

