div {
  margin-bottom: 1cm;
  font-stretch: expanded;
  display: block;
}
label {
  color: #607D8B;
  font-weight: bold;
  float: none;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
input {
  font-size: 1em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.input-w label, .input-w input {
  float: none; /* if you had floats before? otherwise inline-block will behave differently */
  display: inline-block;
  vertical-align: middle;
}
h2 {
  margin-bottom: 1.5cm;
}

.jumbotron{
  background-image: url("/app/bootstrap/about-bg.jpg");
  background-size:auto!important;
  background-position: top;
}
h1{
  color: #fff;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 40px;
}
