<div class="jumbotron text-center">
  <h1 class="animated slideInDown">Project rating</h1>
</div>
<div class="container">
<div class="col-sm-2 sidenav">
</div>
<div class="col-sm-8 text-left">
<div *ngIf="project">
  <h2>Project Topic:  {{project.title}}</h2>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-3">
        <label>Company Name:</label></div>
      <div class="col-sm-9"><input type="text" placeholder="Please enter title" [(ngModel)]="project.description" class="form-control" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-3">
        <label>Interested In Fields:</label></div>
      <div class="col-sm-9"><input type="text" placeholder="Please enter title" [(ngModel)]="project.title" class="form-control" >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <div class="col-sm-3">
        <label>Description:</label></div>
      <div class="col-sm-9"><input type="text" placeholder="Please enter title" [(ngModel)]="project._id" class="form-control" >
      </div>
    </div>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Submit</button>
</div>
</div>
</div>
