<div class="col-sm-2 sidenav">
</div>
<div class="col-sm-8 text-left"><br>
<h1>Rating</h1>
<div *ngIf="projects" >
<h2>Research Topic:  {{projects.title}}</h2>
  <div>
  <div>
    <label>Company Name:</label>
    <input [(ngModel)]="projects.ratings" placeholder="name" />
  </div>

  <div>
    <label>Interested In Fields:</label>
    <input [(ngModel)]="projects.ratings" placeholder="name" />
  </div>

  <div>
    <label>How does this project overlaps with the company's future vision:</label>
    <input [(ngModel)]="projects.ratings" placeholder="name" />
  </div>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Submit</button>
</div>
</div>

