<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="list-group">
    <ul class="sidebar-nav sidebar1">
      <li class="sidebar-brand">
      </li>

      <a routerLink="/internals/viewdashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-dashboard"></i>&nbsp;Dashboard
      </a>

      <a routerLink="/internals/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-cubes"></i>&nbsp;Rating Dashboard
      </a>

      <a routerLink="/internals/createproject" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-edit"></i>&nbsp;New Project
      </a>

      <a routerLink="/internals/projects" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-newspaper-o"></i>&nbsp;My Projects
      </a>

      <a routerLink="/internals/searchproject" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-search"></i> Search for a project
      </a>

    </ul>
  </ul>
  <div class="sidebar-footer custom-footer">
    <div class="col-xs-4">
      <a href="https://github.com/nagam11/ResearchHub-frontend/" target="_blank">
        Github
      </a>
    </div>
    <div class="col-xs-4">
      <a href="https://github.com/nagam11/ResearchHub-frontend/blob/master/README.md" target="_blank">
        About
      </a>
    </div>
    <div class="col-xs-4">
      <a href="#">
        Support
      </a>
    </div>
  </div>
</div>
<!-- End Sidebar -->
